.time {
  text-align: right;
  padding-left: 8px;
}

.parkTime {
  float: right;
  padding-left: 5px;
}

.row {
  border-bottom: thin dotted white;
}

.error {
  color: red;
  text-transform: uppercase;
}

.module-header {
  text-align: left;
}

td.bright.title {
  text-align: left;
}
td.bright.title.time {
  text-align: right;
}

table.hours {
  margin-top: 5px;
}

table.hours td {
  font-size: 0.8em;
  padding: 0 4px;
  text-align: center;
}

table.hours td + td {
  border-left: 1px solid #333;
}

table.hours td.day6,
table.hours td.day0 {
  color: #f5f5f5;
}
